<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="ScheduleSetting" value="Local" />-->
    <add key="ScheduleSetting" value="DB" />
    <add key="ServiceName" value="Service1"/>
  </appSettings>
  <connectionStrings>
    <add name="Schedule" connectionString="data source=;Initial Catalog=Schedule;user id=;password=;" />
  </connectionStrings>
</configuration>