<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />    
    <link href="~/Content/ScheduleManagement.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
    @RenderBody()
</body>
</html>
